<div class="nav-wrapper"> 
    <a class="brand-logo">Logo</a>
    <ul id="slide-out" class="side-nav fixed">
        <li>
            <div>
                <div class="chat_posts">
                    {{#posts}}
                    {{/posts}}
                </div>
                <form class="chat_form col m12">
                    <input class="col m12" name="message" id="message" type="text">
                    <input id="chat_send" type="submit" value="Send">
                </form>
            </div>
        </li>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse show-on-large">
        <i class="material-icons right">menu</i>
    </a>
</div>