{{!-- partial for displaying choice results image and progress --}}
{{!-- open this modal with $('#resultsmodal').modal('open'); --}}
{{!-- close this modal with $('#resultsmodal').modal('close'); --}}


<div id="resultsmodal" class="modal">
	<div class="modal-content">
		<img src="{{resultsimage}}" class="responsive-img" id="resultsimage">
		<p id="resultsdialog">{{resultsdialog}}</p>
	</div>

	<button class="btn btn-primary" id="closeresultsmodal">Continue!</button>

</div>