<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{title}}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Homade apple fonts -->
    <link href="https://fonts.googleapis.com/css?family=Homemade+Apple" rel="stylesheet">
    <!-- CDN to Material Icon fonts -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- minified CSS for materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel='stylesheet' href="/stylesheets/stylesheet.css">

    <!-- Jquery minified CDN -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>

    <!-- Compiled and minified JavaScript for materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <!-- client side socket.io library -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/main.js"></script>
</head>

<body>

    {{{body}}}

</body>

</html>