{{!-- Image for Error 404 page --}}
<html>
<head></head>
	<body>
		<div class="container">
			<div class="row valign wrapper">
				<div class="valign center-align">
					<img src="/images/error404image.jpg" class="responsive-img" id="error404image" alt="Error 404 Image">
				</div>
			</div>
		</div>
	</body>
</html>

<!-- <h1>{{message}}</h1> -->
<!-- <h2>{{error.status}}</h2> -->
<!-- <pre>{{error.stack}}</pre> -->