{{>chatpanel}}

{{>gameprogress}}

<!-- first the game panel -->
<div id="scene_bg" class="row game_panel" style="background-image: url('{{scene.bgImg}}')">

    <!-- <div class="col m12"> -->
    <div class="col s12 m4">

		    <!-- make a card that displays the scene dialog text -->
		    <div class="card grey darken-1">
            <div class="card-content white-text">
              <span id="dialog" class="card-title">{{scene.dialogText}}</span>
            </div>
        </div>

    </div>

</div>

<!-- second comes the choice panel -->
<div class="row choice_panel">

	  <!-- display buttons for the choices for this scene -->
    <div class="col m12"> 
      {{#each scene.choices}}
  	    <button id="{{@index}}" class="waves-effect waves-light btn-large blue-grey">{{this}}</button>
  	  {{/each}}
    </div>

</div>

<script src="/javascripts/chatRoom.js"></script>
<script src="/javascripts/gameRoom.js"></script>