<div class="parallax-container">
    <div class="valign-wrapper">
        <div class="container">
            <h1 class="left-align" id="maintitle">Adventure</h1>
            <h1 id="subtitle">Quest</h1>
            <div class="row center">
                <a href="/lobby" class="waves-effect waves-light btn-large z-depth-4" id="playbutton"><i class="medium material-icons">WELCOME</i></a>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="/images/landingPage.jpg"></div>
</div>

<footer class="page-footer" id="pagefooter">
    <div class="footer-copyright">
        <div class="container">
            © 2017 Copyright
            <a class="grey-text text-lighten-4 right" href="https://github.com/Team-SOS-Games/wopr-and-hal.git">Wopr &amp; Hal 
            <img id="gitlogo" class="right" src="/images/Github.png" style="height: 2em; width: 2.5em;" alt="github logo">
            </a>
        </div>
    </div>
</footer>