<div class="parallax-container">
    <div class="valign-wrapper">
        <div class="container">
            <h1 class="left-align" id="maintitle">Adventure</h1>
            <h1 id="subtitle">Quest</h1>
            <div class="row center">
                <a href="/lobby" class="waves-effect waves-light btn-large z-depth-4" id="playbutton"><i class="medium material-icons">WELCOME</i></a>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="/images/landingPage.jpg"></div>
</div>

<div class="container">
    <div class="row" id="features">
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <img src="/images/leaderboardScreen.png">
                    <span class="card-title purple-text darken-4">Leader Boards</span>
                </div>
                <div class="card-content">
                    <p>Leader boards with instant updates to keep track of your games played,
                        your wins and losses. So you can rub in how much better you are compared to your
                        fellow adventurers.
                    </p>
                </div>

            </div>
        </div>
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <img src="/images/chatscreen.png">
                    <span class="card-title purple-text darken-4">Live Chat</span>
                </div>
                <div class="card-content">
                    <p>Live chat so you can discuss with your compatriots how much they're descision making sucks.
                        or better yet insult them for getting lucky at random chance.
                    </p>
                </div>

            </div>
        </div>
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <img src="/images/coopscreen.png">
                    <span class="card-title purple-text darken-4">Cooperation</span>
                </div>
                <div class="card-content">
                    <p>choose your path, but note you can't choose your own adventure,
                        because uhh you know we force you into good ol' jolly cooperation
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>

<footer class="page-footer" id="pagefooter">
    <div class="footer-copyright">
        <div class="container">
            © 2017 Copyright
            <a class="grey-text text-lighten-4 right" href="https://github.com/Team-SOS-Games/wopr-and-hal.git">Wopr &amp; Hal 
            <img id="gitlogo" class="right" src="/images/Github.png" style="height: 2em; width: 2.5em;" alt="github logo">
            </a>
        </div>
    </div>
</footer>