
<a href="/lobby"><button type="submit" class="btn btn-primary" id="return-lobby">Back to Lobby!</button></a>

<h1 class="center-align">Leaderboards</h1>

<table class="striped centered responsive-table">
	<thead>
		<tr>
			<th data-field="id">Name</th>
			<th data-field="name">Wins</th>
			<th data-field="name">Losses</th>
			<th data-field="name">Games Played</th>
		</tr>
	</thead>

	<tbody>
	{{#each leaderboards}}
		<tr>
			<td>{{this.userName}}</td>			
			<td>{{this.wins}}</td>
			<td>{{this.losses}}</td>
			<td>{{this.gamesplayed}}</td>
		</tr>
	{{/each}}
	</tbody>

</table>
