<div class="parallax-container">
	<a href="/lobby"><button type="submit" class="btn btn-primary" id="return-lobby">Back to Lobby!</button></a>
    <div class="valign-wrapper">
        <div class="container center">
            <h1 class="center" id="maintitleleaderboard">Leaderboards</h1>

            <table class="striped centered responsive-table" id="leaderboardstable">
                <thead>
                    <tr>
                        <th data-field="id">Name</th>
                        <th data-field="name">Wins</th>
                        <th data-field="name">Losses</th>
                        <th data-field="name">Games Played</th>
                    </tr>
                </thead>

                <tbody>
                {{#each leaderboards}}
                    <tr>
                        <td>{{this.userName}}</td>			
                        <td>{{this.wins}}</td>
                        <td>{{this.losses}}</td>
                        <td>{{this.gamesplayed}}</td>
                    </tr>
                {{/each}}
                </tbody>

            </table>

        </div>
    </div>
    <div class="parallax"><img src="/images/landingPage.jpg"></div>
</div>

<footer class="page-footer" id="pagefooter">
    <div class="container">
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2017 Copyright
            <a class="grey-text text-lighten-4 right" href="https://github.com/Team-SOS-Games/wopr-and-hal.git">Wopr &amp; Hal
            <img id="gitlogo" class="right" src="/images/Github.png" style="height: 2em; width: 2.5em;" alt="github logo">
            </a>
        </div>
    </div>
</footer>
