<div class="container">
    <div class="row valign-wrapper">
        <div class="valign center-align">
            <h1 class="valign center-align">Welcome to the Lobby</h1>
<<<<<<< HEAD
       <a href="/createroom"><button id="lobby_button">start a game</button></a> 
=======
        <!-- <button id="lobby_button">start a game</button> -->
        	
        	<form action="/api/adduser" method="POST">
				<input type="text" class="form-control" name="userName" value="" id="enter_text">
				<button type="submit" class="btn btn-primary" id="text-enter-button">Start a Game!</button>
			</form>

>>>>>>> b7761235ec96837d11b31db263c38ba18ff89ac2
        </div>
    </div>
</div>