<div class="container">
    <div class="row valign-wrapper">
        <div class="valign center-align">
            <h1 class="valign center-align">Welcome to the Lobby</h1>
        	
        	<form action="/api/adduser" method="POST">
				<input type="text" class="form-control" name="userName" value="" placeholder="Please enter user name:" id="enter_text">
                <input type="text" class="form-control" name="password" value="" placeholder="Please enter password:" id="enter_password">
				<button type="submit" class="btn btn-primary" id="text-enter-button">Start a Game!</button>
			</form>
        </div>
    </div>
</div>