<div class="container">
    <div class="row valign-wrapper">
        <div class="valign center-align">
            <h1 class="valign center-align">Welcome to the Lobby</h1>
       <a href="/createroom"><button id="lobby_button">start a game</button></a> 
        </div>
    </div>
</div>