<div class="parallax-container">
    <div class="valign-wrapper">
        <div class="container center">
            <h1 class="center" id="maintitlelobby">Adventure Quest</h1>

            <div class="row" id="lobbyform">
                <form action="/api/adduser" method="POST" class="col s12">
                    <div class="row">
                        <div class="input-field col s6 offset-s3">
                            <i class="material-icons prefix" id="inputlobby">account_circle</i>
                            <input type="text" placeholder="User Name" class="validate" name="userName" id="enter_text">
                        </div>
                        <div class="input-field col s6 offset-s3">
                            <i class="material-icons prefix" id="inputlobby">lock</i>
                            <input type="text" placeholder="Password" class="validate" name="password" id="enter_password">
                        </div>
                    </div>
                    <div class="row center">
                        <button type="submit" class="lobbybutton inputlobby waves-effect waves-light btn-large z-depth-4 col s5 text-enter-button">
                            <i class="buttonGlyphs medium material-icons">play_circle_outline</i>Start a Game</button>
                        <a href="/leaderboards" class="lobbybutton inputlobby waves-effect waves-light btn-large z-depth-4 col s5 offset-s2">
                            <i class="buttonGlyphs medium material-icons">view_list</i>Leaderboards</a>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <div class="parallax"><img src="/images/landingPage.jpg"></div>
</div>

<footer class="page-footer" id="pagefooter">
    <div class="container">
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2017 Copyright
            <a class="grey-text text-lighten-4 right" href="https://github.com/Team-SOS-Games/wopr-and-hal.git">Wopr &amp; Hal
            <img id="gitlogo" class="right" src="/images/Github.png" style="height: 2em; width: 2.5em;" alt="github logo">
            </a>
        </div>
    </div>
</footer>