html, body {
  height: 100%;
}

header, main, footer {
  padding-right: 300px;
}

.game_panel, .game_panel div {
  width: 100%;
  height: 50%;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:left;
}

.choice_panel, .choice_panel div {
  width: 100%;
  height: 50%;
}

.side-nav li form {
  position: fixed;
  bottom: 10%;
}

@media only screen and (max-width: 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

#chat_form {
  padding-left: 10px;
}

#slide-out li {
  padding-left: 10px;
  height: 80%;
  overflow: hidden;
  overflow-y: auto;
}

#dialogdiv {
  background-color: rgba(0, 0, 0, 0.5);
  padding: auto;
}

#dialogtext {
  color: white;
}
