body {
    background-color: #2e0a24;
    font-family: cursive;
}

#maintitle {
    font-family: 'Homemade Apple', cursive;
    margin-top: 70px;
    margin-left: -10px;
}


/*home page css*/

#home-body {
    font-family: 'Homemade Apple', cursive;
    background: linear-gradient(#2e0a24, #540f45);
}

#gitlogo {
    padding-left: 5px;
}


/*End home page css*/


/*lobby css*/

#maintitlelobby {
    margin-top: 70px;
}

#lobbyform {
    font-family: Verdana, Geneva, sans-serif;
    color: white;
}

.lobbybutton {
    font-family: Verdana, Geneva, sans-serif;
    background-color: #2e0a24;
}

.inputlobby {
    color: white;
}


.btn-large {
    height: 54px;
    line-height: 44px;
}

.buttonGlyphs {
    padding-right: 15px;
}

/*End lobby css*/

/*leadeboard css*/
#return-lobby{
    background-color: #2e0a24;
}

#maintitleleaderboard{
    font-family: 'Homemade Apple', cursive;
}
#leaderboardsprllx{
    height: 660px;
}
/*end leaderboard css*/

/*gameroom css*/
#scene_bg{
    width: 720px;
    height: 265px;
    border-radius: 50px;
    margin-left: 450px;
}

#dialogwrapper {
    margin-top: 183px;
    margin-left: 50px;
    border-radius: 15px
}

/*#grplayerchoices {
    display: flex;
    margin-left: 160px;
    margin-top: 65px;
}*/
#grplayerchoices button{
    background-color: #2e0a24;
}

#gameroompagefooter{
    margin-left:20px;
}
/*end gameroom css*/

/*joinroom css*/
#jrplaybutton{
        margin-top: 50px;
    background-color: #2e0a24;
}

/*end joinroom css*/

/*gameframe css*/

#gfparallax-container {
    height: 720px;
}

#gameframemainrow {
    margin-top: 50px;
}

#gameframeimg {
    border-radius: 10%;
}

#gfmidrow {
    margin-top: 40px;
}

#gfdropdown {
    color: #880e4f;
}

#gftimer {
    margin-top: 10px;
}

#gflobbybutton {
    font-family: Verdana, Geneva, sans-serif;
    margin-top: 20px;
}


/*End gameframe css*/

#subtitle {
    margin-left: 80px;
    margin-top: 45px;
}

#playbutton {
    font-family: Verdana, Geneva, sans-serif;
    background-color: #2e0a24;
    margin-left: 30px;
    margin-top: -30px;
}

.card-image, p, a {
    font-family: Verdana, Geneva, sans-serif;
}

#features {
    margin-top: 40px;
}

#pagefooter {
    font-family: Verdana, Geneva, sans-serif;
    background: linear-gradient(#2e0a24, #540f45);
}